@import "tailwindcss";
body {
  padding: 0;
  margin: 0;
}

.card {
  width: 400px;
  height: 160px;
  border-radius: 8px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: rgba(127, 255, 212, 0.47);
}

.card-title {
  margin: 0;
  text-align: center;
  background-color: aquamarine;
  padding: 16px 8px;
}

.card-desc {
  padding: 8px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}
